<br>

<div class="panel panel-default">
  <div class="panel-heading">
    Admins

    <%= link_to new_backoffice_admin_path, class: "btn btn-success btn-circle pull-right", style: 'margin-top: -5px;' do %>
    <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover text-center">
        <thead>
          <tr>
            <th>#</th>
            <th>Email</th>
            <th>Name</th>
            <th>Access level</th>
            <th>Send Mail</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.id %></td>
            <td><%= admin.email %></td>
            <td><%= admin.name %></td>
            <td><%= admin.role_description_br %></td>
            <td>
              <%= link_to '#', remote: true do %>
                <button type="button" class="btn btn-info btn-circle"><i class="fa fa-envelope"></i></button>
              <% end %>
            </td>
            <td>
              <%= link_to edit_backoffice_admin_path(admin) do %>
                <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></button>
              <% end %>
            </td>
            <td>
              <% if (current_admin.id != admin.id) && policy(@admins).destroy? %>
                <%= link_to backoffice_admin_path(admin), method: :delete, data: {confirm: "Você deseja realmente excluir o administrador (#{admin.email})?"} do %>
                  <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></button>
                <% end %>
              <% else %>
                <button type="button" class="btn btn-danger btn-circle" disabled='disabled'><i class="fa fa-times"></i></button>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>


<%= render 'backoffice/admins/shared/send_mail' %>